doctype
html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

  body
    .navbar-wrapper
      .container
        img(src='/img/colburnvideo_staticimage.jpg' class="center-block img-responsive my-header")
        div(class="navbar navbar-inverse navbar-static-top")
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Colburn Video
                div(class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                      li
                        a(href="/") HOME
                      each blogpost in public.page._data
                        li
                          a(href="/page/#{blogpost.slug}") #{blogpost.title}
    div
      br
      br
    != yield
