//- .embed-responsive.embed-responsive-16by9
//-     iframe(src="https://player.vimeo.com/video/85037812?color=23bdb5" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

//- br
//- br
block variables
    - HOMEPAGE = true;

div.text-center.center-logo
    img(src="/img/logos/inverse-transparent.png")

//- div.text-center.featured-logos
//-     img.featured(src="/img/featured/GWS-featured-on.gif")
//-     img.featured(src="/img/featured/100lc_featured_150.png")
//-     img.featured(src="/img/featured/june-bugs.png")
