body {
  font-family: "Helvetica";
  text-align: left;
  background: #ffffff;
  color: #444;
  margin: 0;
}

h1 {
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #ccc solid 1px;
  padding: 20px 0;
}

h3 {
  font-weight: 300;
}

.my-header {
  padding: 0;
}

.outer-image-container {
  image-rendering: -webkit-optimize-contrast;
}

.featured {
  height: 150px;
  padding: 15px;
}

textarea {
  resize: vertical;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

@media (max-width: 768px) {
  .my-header {
    display: none !important;
  }
  .navbar-wrapper .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-header {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  .navbar-wrapper img {
    margin-top: -5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    display: none;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  .center-logo {
    margin-top: 200px;
  }
}

.bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.featured-logos {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.center-logo {
  margin-top: 100px;
  left: 0;
  width: 100%;
  img {
    width: 200px;
  }
}
.fullscreen-video {
  .navbar.navbar-inverse {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-inverse .navbar-collapse {
    border: none;
  }
}

.navbar-toggle {
  border-color: #aaa !important;
  .icon-bar {
    background-color: #888;
  }
}
.navbar-nav > li.active > a {
  background-color: #ccc;
}
